<div class="top-pic"></div>

<form>
  <div class="group">
    <input type="text"><span class="highlight"></span><span class="bar"></span>
    <label>Name</label>
  </div>

  <div class="group">
    <input type="email"><span class="highlight"></span><span class="bar"></span>
    <label>Email</label>
  </div>

  <div class="group">
    <input type="password"><span class="highlight"></span><span class="bar"></span>
    <label>Password</label>
  </div>

  <button type="button" class="button buttonGreen">Sign in
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</form>
