<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">Memoする</h1>

    <div class="form">
      <div class="form-body">
        <%= render "form" %>
      </div>
    </div>

  </div>
</div>
